$primary:       #0466c8;
$secondary:     #979dac;
$third:         #fca311;
$danger:        #ce443f; 
$success:       #43A047;

$primary-hover:   #0466c8;
$secondary-hover: #949de2;
$third-hover:     #cfd2d9;

$background:    #e5e5e5;
$body-color:    #002855;

$transition-base: all .2s ease-in-out;