$primary:       #4359B5;
$secondary:     #acb4ff;
$third:         #A3A9BE;
$danger:        #ce443f; 

$secondary-hover: #949de2;
$third-hover:     #cfd2d9;

$background:    #E7E9F0;
$body-color:    #010413;

$transition-base: all .2s ease-in-out;